<section class="about" id="about">
  <div class="about__wrapper">
    <div class="about__box-img">
      <picture>
        <source
          srcset="./images/home/people.webp 1x, ./images/home/people@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/home/people.jpg 1x, ./images/home/people@2x.jpg 2x"
          src="./images/home/people.jpg"
          class="team__photo"
          alt="Our teem"
        />
      </picture>
    </div>
    <div class="about__box-description">
      <h3 class="about__subtitle subtitle">What you are looking for</h3>
      <h2 class="about__title title">We provide bespoke solutions</h2>
      <p class="about__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
        laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque
        rerum temporibus doloribus iste maiores deleniti?
      </p>
      <button class="button about_button" type="button">Read More</button>
    </div>
  </div>
</section>
