<section id="cases" class="cases">
  <div class="container">
    <h2 class="cases__subtitle subtitle">This is what we do</h2>
    <h3 class="cases__title title">Business Cases</h3>
    <p class="cases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
    </p>
    <ul class="cases__list list">
      <li class="cases__list-item">
        <a href="./images/cases/cases1.jpg" data-lightbox="cases" data-title="My caption">
          <picture>
            <source
              srcset="./images/cases/cases1.webp 1x, ./images/cases/cases1@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/cases/cases1.jpg 1x, ./images/cases/cases1@2x.jpg 2x"
              src="./images/cases/cases1.jpg"
              class="cases__image"
              alt="cases1"
            />
          </picture>
        </a>
      </li>
      <li class="cases__list-item">
        <a href="./images/cases/cases2.jpg" data-lightbox="cases" data-title="My caption">
          <picture>
            <source
              srcset="./images/cases/cases2.webp 1x, ./images/cases/cases2@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/cases/cases2.jpg 1x, ./images/cases/cases2@2x.jpg 2x"
              src="./images/cases/cases2.jpg"
              class="cases__image"
              alt="cases2"
            />
          </picture>
        </a>
      </li>
      <li class="cases__list-item">
        <a href="./images/cases/cases3.jpg" data-lightbox="cases" data-title="My caption">
          <picture>
            <source
              srcset="./images/cases/cases3.webp 1x, ./images/cases/cases3@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/cases/cases3.jpg 1x, ./images/cases/cases3@2x.jpg 2x"
              src="./images/cases/cases3.jpg"
              class="cases__image"
              alt="cases3"
            />
          </picture>
        </a>
      </li>
      <li class="cases__list-item">
        <a href="./images/cases/cases4.jpg" data-lightbox="cases" data-title="My caption">
          <picture>
            <source
              srcset="./images/cases/cases4.webp 1x, ./images/cases/cases4@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/cases/cases4.jpg 1x, ./images/cases/cases4@2x.jpg 2x"
              src="./images/cases/cases4.jpg"
              class="cases__image"
              alt="cases4"
            />
          </picture>
        </a>
      </li>
      <li class="cases__list-item">
        <a href="./images/cases/cases5.jpg" data-lightbox="cases" data-title="My caption">
          <picture>
            <source
              srcset="./images/cases/cases5.webp 1x, ./images/cases/cases5@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/cases/cases5.jpg 1x, ./images/cases/cases5@2x.jpg 2x"
              src="./images/cases/cases5.jpg"
              class="cases__image"
              alt="cases5"
            />
          </picture>
        </a>
      </li>
      <li class="cases__list-item">
        <a href="./images/cases/cases6.jpg" data-lightbox="cases" data-title="My caption">
          <picture>
            <source
              srcset="./images/cases/cases6.webp 1x, ./images/cases/cases6@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/cases/cases6.jpg 1x, ./images/cases/cases6@2x.jpg 2x"
              src="./images/cases/cases6.jpg"
              class="cases__image"
              alt="cases6"
            />
          </picture>
        </a>
      </li>
      <li class="cases__list-item">
        <a href="./images/cases/cases7.jpg" data-lightbox="cases" data-title="My caption">
          <picture>
            <source
              srcset="./images/cases/cases7.webp 1x, ./images/cases/cases7@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/cases/cases7.jpg 1x, ./images/cases/cases7@2x.jpg 2x"
              src="./images/cases/cases7.jpg"
              class="cases__image"
              alt="cases7"
            />
          </picture>
        </a>
      </li>
      <li class="cases__list-item">
        <a href="./images/cases/cases8.jpg" data-lightbox="cases" data-title="My caption">
          <picture>
            <source
              srcset="./images/cases/cases8.webp 1x, ./images/cases/cases8@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/cases/cases8.jpg 1x, ./images/cases/cases8@2x.jpg 2x"
              src="./images/cases/cases8.jpg"
              class="cases__image"
              alt="cases8"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
