<footer class="footer">
  <div class="container">
    <nav class="footer__nav">
      <ul class="social__list list">
        <li class="social__list-item">
          <a href="https://www.facebook.com/" target="_blank" class="social__link"
            ><i class="fab fa-facebook hover-blue"></i
          ></a>
        </li>
        <li class="social__list-item">
          <a href="https://www.twitter.com/" target="_blank" class="social__link"
            ><i class="fab fa-twitter hover-blue"></i
          ></a>
        </li>
        <li class="social__list-item">
          <a href="https://www.youtube.com/" target="_blank" class="social__link"
            ><i class="fab fa-youtube hover-blue"></i
          ></a>
        </li>
        <li class="social__list-item">
          <a href="https://www.linkedin.com/" target="_blank" class="social__link"
            ><i class="fab fa-linkedin-in hover-blue"></i
          ></a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      <p class="footer__text">Copyright &copy; 2021 - FinanceLedger</p>
    </div>
  </div>
</footer>
