<section class="team" id="team">
  <div class="container">
    <h3 class="team__subtitle subtitle">Who we are</h3>
    <h2 class="team__title title">Our Professional Team</h2>
    <p class="team__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
    </p>
    <ul class="team__list list">
      <li class="team__list-item">
        <div class="team__box-photo">
          <picture>
            <source
              srcset="./images/team/person1.webp 1x, ./images/team/person1@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/team/person1.jpg 1x, ./images/team/person1@2x.jpg 2x"
              src="./images/team/person1.jpg"
              class="team__image"
              alt="John Doe"
            />
          </picture>
          <div class="team__box-social">
            <ul class="social__list list">
              <li class="social__list-item">
                <a href="https://www.facebook.com/" target="_blank" class="social__link"
                  ><i class="fab fa-facebook hover-white"></i
                ></a>
              </li>
              <li class="social__list-item">
                <a href="https://www.twitter.com/" target="_blank" class="social__link"
                  ><i class="fab fa-twitter hover-white"></i
                ></a>
              </li>
              <li class="social__list-item">
                <a href="https://www.youtube.com/" target="_blank" class="social__link"
                  ><i class="fab fa-youtube hover-white"></i
                ></a>
              </li>
              <li class="social__list-item">
                <a href="https://www.linkedin.com/" target="_blank" class="social__link"
                  ><i class="fab fa-linkedin-in hover-white"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class="team__name">John Doe</h3>
          <p class="team__profession">President</p>
        </div>
      </li>
      <li class="team__list-item">
        <div class="team__box-photo">
          <picture>
            <source
              srcset="./images/team/person2.webp 1x, ./images/team/person2@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/team/person2.jpg 1x, ./images/team/person2@2x.jpg 2x"
              src="./images/team/person2.jpg"
              class="team__image"
              alt="Jane Doe"
            />
          </picture>
          <div class="team__box-social">
            <ul class="social__list list">
              <li class="social__list-item">
                <a href="https://www.facebook.com/" target="_blank" class="social__link"
                  ><i class="fab fa-facebook hover-white"></i
                ></a>
              </li>
              <li class="social__list-item">
                <a href="https://www.twitter.com/" target="_blank" class="social__link"
                  ><i class="fab fa-twitter hover-white"></i
                ></a>
              </li>
              <li class="social__list-item">
                <a href="https://www.youtube.com/" target="_blank" class="social__link"
                  ><i class="fab fa-youtube hover-white"></i
                ></a>
              </li>
              <li class="social__list-item">
                <a href="https://www.linkedin.com/" target="_blank" class="social__link"
                  ><i class="fab fa-linkedin-in hover-white"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class="team__name">Jane Doe</h3>
          <p class="team__profession">Vice President</p>
        </div>
      </li>
      <li class="team__list-item">
        <div class="team__box-photo">
          <picture>
            <source
              srcset="./images/team/person3.webp 1x, ./images/team/person3@2x.webp 2x"
              type="image/webp"
            />
            <img
              srcset="./images/team/person3.jpg 1x, ./images/team/person3@2x.jpg 2x"
              src="./images/team/person3.jpg"
              class="team__image"
              alt="Steve Smith"
            />
          </picture>
          <div class="team__box-social">
            <ul class="social__list list">
              <li class="social__list-item">
                <a href="https://www.facebook.com/" target="_blank" class="social__link"
                  ><i class="fab fa-facebook hover-white"></i
                ></a>
              </li>
              <li class="social__list-item">
                <a href="https://www.twitter.com/" target="_blank" class="social__link"
                  ><i class="fab fa-twitter hover-white"></i
                ></a>
              </li>
              <li class="social__list-item">
                <a href="https://www.youtube.com/" target="_blank" class="social__link"
                  ><i class="fab fa-youtube hover-white"></i
                ></a>
              </li>
              <li class="social__list-item">
                <a href="https://www.linkedin.com/" target="_blank" class="social__link"
                  ><i class="fab fa-linkedin-in hover-white"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <h3 class="team__name">Steve Smith</h3>
          <p class="team__profession">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
